@model LibraryManagement.Models.Book

<h1>Confirm Delete</h1>

<p>Are you sure you want to delete the following book?</p>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <th>Genre</th>
        <td>@Model.Genre</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.Price.ToString("C")</td>
    </tr>
    <tr>
        <th>Publication Date</th>
        <td>@Model.PublicationDate.ToString("dd MMM yyyy")</td>
    </tr>
</table>

<form asp-action="DeleteConfirmed" asp-controller="Books" method="post">
    <input type="hidden" name="id" value="@Model.BookId" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="@Url.Action("Index", "Books")" class="btn btn-secondary">Cancel</a>
</form>
